*{
    font-family: Arial, Helvetica, sans-serif;
}
.formulario-figura{
    border: solid  3px black;
    width: 400px;
    height: 550px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 12px 14px 18px rgba(0, 0, 0, 0.1); 
}
.titulo p{
    text-align: left;
    font-size: large;
    box-shadow: 12px  rgba(0, 0, 0, 0.1); 
}
.opciones h5{
    margin-top: -12px;
    margin-bottom: 12px;
    border: solid black;
    border-radius: 10px;
    background-color: rgb(76, 0, 71);
    color: rgb(255, 179, 247);
    box-shadow: 12px 14px 18px rgba(0, 0, 0, 0.1); 
}
.opciones select{
    background-color: #ff00e1; 
    color: #333;
    width: 150px;
    height: 50px;
    padding: 12px;
    border: solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    
}
.opciones select:hover{
    background-color: #dbbc0c; 
  color: #000;
}
.lados{
    margin-top: 12px;

}
#dato-1{
    display: flex;
}
#dato-2{
    margin-top: 5px;
    display: flex;
    margin-bottom: 12px;
}
.lados #inputs input {
    margin-left: 5px;
    border: solid  3px rgb(243, 60, 206);
    border-radius: 50px;
    width: 120px;
    padding-left: 35px;
    background-color: rgb(62, 1, 58);
    color: white;
    font-size: 18px;
}
#imagen-figura img{
    margin-top: 20px;
    width: 230px;
    height: 150px;
}
#boton-calcular{
    width: 120px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
}